BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AccessModifierOffset: -3
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: "^[^\"]*interface\\.(h|hpp)$"
    Priority: 1
  - Regex: "^<[^/]+\\.h>$"
    Priority: 2
  - Regex: "^<[a-zA-Z0-9_]+>$"
    Priority: 3
  - Regex: ".*"
    Priority: 4
