*.so
lib/
bin/
logs/

CMakeFiles/
build/
CMakeCache.txt
cmake_install.cmake
_deps/

models/**
!models/.gitkeep
!models/sam3/

Testing/
imgs/

models/*
!models/.gitkeep

images/*
!images/.gitkeep
!images/mapping/

images/mapping/*
!images/mapping/.gitkeep

tests/integration/images/*
!tests/integration/images/.gitkeep

tests/integration/output/*
!tests/integration/output/.gitkeep

!tests/integration/mapping/.gitkeep

tests/integration/mapping/batch1/*
!tests/integration/mapping/batch1/.gitkeep

tests/integration/mapping/batch2/*
!tests/integration/mapping/batch2/.gitkeep

tests/integration/mapping/images/*
!tests/integration/mapping/images/.gitkeep

tests/integration/mapping/direct_test_images/*
!tests/integration/mapping/direct_test_images/.gitkeep

tests/integration/mapping/output/*
!tests/integration/mapping/output/.gitkeep

tests/integration/mapping/direct_output/*
!tests/integration/mapping/direct_output/.gitkeep

tests/integration/aggregator/*
!tests/integration/aggregator/.gitkeep

.vscode/*
!.vscode/c_cpp_properties.json

libcore_library.dylib
.DS_Store

**/*.pb.cc
**/*.pb.h

*~
