*.so
lib/
bin/
logs/

CMakeFiles/
build/
CMakeCache.txt
cmake_install.cmake
_deps/

models/**
!models/.gitkeep

Testing/
imgs/

models/*
!models/.gitkeep

tests/integration/images/*
!tests/integration/images/.gitkeep
!tests/integration/images/saliency/
!tests/integration/images/saliency/.gitkeep
tests/integration/images/saliency/*.jpg

.vscode/*
!.vscode/c_cpp_properties.json

libcore_library.dylib
.DS_Store

**/*.pb.cc
**/*.pb.h
