*.so
lib/
bin/
logs/

Makefile
CMakeFiles/
build/
CMakeCache.txt
cmake_install.cmake
_deps/

Testing/
imgs/

models/*
!models/.gitkeep

integrations/images/*
!integrations/images/.gitkeep

.vscode/*
!.vscode/c_cpp_properties.json

libcore_library.dylib
.DS_Store

**/*.pb.cc
**/*.pb.h