name: Tests

on:
  push:
    branches:
      - main
      - "bug/*"
  pull_request:

env:
  # home directory of user in obcpp docker image
  HOME_DIR: /home/tuas
  # https://stackoverflow.com/a/71158878
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

jobs:
  test:
    name: C++ Tests 
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tritonuas/obcpp:x86
      env:
        GITHUB_ACTIONS: "true"
    steps:
      - name: Create directory
        run: mkdir -p "$HOME_DIR/obcpp"

      - name: Print branch name
        run: echo "$BRANCH_NAME"

      - name: Clone Repo
        run: git clone --branch $BRANCH_NAME --recurse-submodules https://github.com/tritonuas/obcpp.git $HOME_DIR/obcpp

      - name: Set up CMake
        # uses ${CMAKE_PREFIX_PATH} set in Dockerfile env
        run: cd "$HOME_DIR/obcpp" && rm -rf build && mkdir build && cd build && sudo cmake -DCMAKE_PREFIX_PATH="${CMAKE_PREFIX_PATH}" -DCMAKE_JOB_POOLS="j=4" ..

      - name: Run Tests
        run: cd "$HOME_DIR/obcpp/build" && sudo ninja test && sudo ninja obcpp && sudo ninja

